body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.some-text {
    text-align: center;
}

video {
    margin-inline: 300px; /* Example width */
    height: auto; /* Example height */
}

.start-stop {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    gap: 5px;
}

button {
    padding: 7px;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: blue
}

#startButton {
    background-color: green;
}

#stopButton {
    background-color: red;
} 